.body {
 background-color: #C5F0CA;
 border-color: #37765D;
 border-style: double;
 border-width: thick;
 padding: 25px;
}

.btn-info {
  background-color: #257df8;
}

.title {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

.sub-title {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;

}

.card {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-text {
  font-family: 'Roboto Condensed', sans-serif;
}

. {
  border: solid;
  border-color: #37765D;
  border-width: thick;
}

.dropdown-text {
  border: solid;
  border-color: #37765D;
  border-width: thick;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.press-div {
  border: solid;
  border-width: thick;
  border-color: #37765D;
  margin-bottom: 50px;
}

.footer {
  background: #37765D;
  height: 60px;
  left: 0;
  padding: 15px;
  position: absolute;
  width: 100%;
}
.fab {
  color: black;
  padding: 15px;
}

.fas {
  color: black;
  padding: 15px;
}
