/* Importing the Roboto font from Google Fonts. */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* Set font of all elements to 'Roboto' */
* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

body {
	background:  #37765D;
}

h3 {
	text-align: center;
}

/* Add styles to 'container' class */
.container {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: #37765D;
	border-radius: 4px;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #C5F0CA;
	margin: 0 auto;
	outline: 0;
	color: black;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}


.body {
 background-color: #C5F0CA;
 border-color: #37765D;
 border-style: double;
 border-width: thick;
 padding: 25px;
}

.btn-info {
  background-color: #257df8;
}

.title {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

.sub-title {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;

}

.contact-paragraph {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-inner {
  text-align: center;
}

.card-text {
  font-family: 'Roboto Condensed', sans-serif;
}

. {
  border: solid;
  border-color: #37765D;
  border-width: thick;
}

.dropdown-text {
  border: solid;
  border-color: #37765D;
  border-width: thick;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.press-div {
  border: solid;
  border-width: thick;
  border-color: #37765D;
  margin-bottom: 50px;
}

.footer {
  background: #37765D;
  height: 60px;
  left: 0;
  padding: 15px;
  position: absolute;
  width: 100%;
}

.navbar {
background: #37765D;
height: 60px;
left: 0;
padding: 15px;
position: absolute;
width: 100%;

}

.fab {
  color: black;
  padding: 15px;
}

.fas {
  color: black;
  padding: 15px;
}

.music-container {
  margin: 50px;
  display: inline-table;

}

.photo {
  padding: 10px 10px 10px 10px;

}

.rounded {
  padding-top: 25px;

}

.spotify-player {
     width: 100px;
     height: 50px;
     margin: auto;
     position: relative;
     display: block;
}

.spotify-follow-widget {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 30px;
}
